{%- import '_macros/atoms' as render -%}

{%- minify -%}

    <div class="container mx-auto max-w-screen-lg my-10">
        {%- switch content.quoteType -%}

            {%- case "pullQuote" -%}

                {{- render.atom('quote', 'pullquote', {
                    content: content.quote,
                    position: content.position,
                    source: content.quoteSource,
                }) -}}

            {%- case "blockQuote" -%}

                {{- render.atom('quote', 'blockquote', {
                    content: content.quote,
                    source: content.quoteSource,
                }) -}}

        {%- endswitch -%}
    </div>

{%- endminify -%}