{%- import '_macros/atoms' as render -%}

{%- minify -%}
    <section class="mx-auto my-10 {{ content.position == 'full' ? '-mx-4 md:-mx-32' : '' }}">

        <div class="container mx-auto {{ content.position == 'center' ? 'max-w-screen-lg' : '' }}">
            {%- if content.image|length -%}
                {{- render.atom('image', 'article', {
                        image: content.image[0],
                        alt: content.image[0].title,
                        ratio: content.ratio,
                        caption: content.caption ?? content.image[0].caption,
                        author: content.image[0].author ?? "",
                        source: content.image[0].source ?? "",
                        placeholders: placeholders,
                    })
                -}}
            {%- endif -%}
        </div>

    </section>
{%- endminify -%}
