{%- import '_macros/atoms' as render -%}

{%- minify -%}

    <div class="my-10">
        <div class="container mx-auto max-w-screen-lg">
            {{- render.atom('text', 'standfirst', { content: content.standfirst }) -}}
        </div>
    </div>

{%- endminify -%}