{%- extends "_boilerplate/_layouts/amp-generic-page-layout.twig" -%}

{%- block headLinks -%}
    {{ parent() }}
{%- endblock headLinks -%}

{%- if entry is not defined -%}
    {%- set entrySlug = craft.app.request.getSegment(craft.app.request.getSegments()|length - 1) -%}
    {%- set entry = craft.entries.slug(entrySlug).one() -%}
{%- endif -%}

{%- do seomatic.helper.loadMetadataForUri(entry.uri) -%}
{%- do seomatic.script.container().include(false) -%}

{%- block headCss -%}
    {{ parent() }}
    {%- switch entry.type -%}

        {%- case "news" -%}

            {{ craft.twigpack.includeFile("@webroot/dist/criticalcss/entry-types/amp_entry--news_critical.min.css") }}

        {%- default -%}

            {{ craft.twigpack.includeFile("@webroot/dist/criticalcss/pages/amp_" ~ craft.app.request.segments | first ~ "_critical.min.css") }}

    {%- endswitch -%}
{%- endblock headCss -%}

{%- block content -%}

        {%- switch entry.type -%}

                {%- case "contentPage" -%}

                    {%- include '_organisms/entry-types/page--content' ignore missing with {
                        content: entry,
                    } -%}

                {%- case "landingsPage" -%}

                    {%- include '_organisms/entry-types/page--landing' ignore missing with {
                        content: entry,
                    } -%}

                {%- case "newsPage" -%}

                    {%- include '_organisms/entry-types/page--news' ignore missing with {
                        content: entry,
                    } -%}

                {%- case "news" -%}

                    {%- include '_organisms/entry-types/entry--news' ignore missing with {
                        content: entry,
                    } -%}

        {%- endswitch -%}
{%- endblock -%}

{# -- Any JavaScript that should be included before </body> -- #}
{%- block bodyJs -%}
{%- endblock bodyJs -%}
