.fas{
  display: inline-block;
  font: normal normal normal FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;

  &:before{
    font-family: FontAwesome;
  }
}

.fa-file-pdf::before{
  content: '\f1c1';
}
.fa-file-xls::before{
  content: '\f1c3';
}
.fa-file-word::before{
  content: '\f1c2';
}
.fa-file-powerpoint::before{
  content: '\f1c4';
}
.fa-file-archive::before{
  content: '\f1c6';
}