/**
 * This injects any component classes registered by plugins.
 *
 */
@import 'tailwindcss/components';

/**
 * Include global styles
 *
 */

@import './global.pcss';

/* atoms go first */
@import './atoms/icons.pcss';

/* followed by molecules */

/* and then our organisms */