/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 */
@import 'tailwindcss/utilities';

/* here we can add our own custom utility classes that need to override everything else  */
@import './utilities/aspect-ratios.pcss';

/**
 * Include vendor css.
 *
 */
@import 'vendor.pcss';

