{%- import '_macros/atoms' as render -%}

{%- set utilities = utilities ??? '' -%}

{%- minify -%}

    <div class="mt-20 mb-10 w-full">

        <div class="container mx-auto max-w-screen-lg {{ utilities -}}">

            <div class="leading-none">

                <h2 class="font-primary text-5xl font-bold mb-4">
                    {{- render.atom('text', 'title', {
                            content: content.heading
                        })
                    -}}
                </h2>

                {%- if content.description -%}
                    <div class="prose prose-lg mb-4">
                        {{- render.atom('text', 'content', {
                            content: content.description
                        }) -}}
                    </div>
                {%- endif -%}

                {%- if content.buttons|length > 0 -%}

                    <div class="mb-4">
                        {%- for button in content.buttons -%}

                            {# set style for atom button #}
                            {%- set buttonStyle = 'primary' -%}
                            {%- if button.style == 'secondaryGhost' or button.style == 'secondary' -%}
                                {%- set buttonStyle = 'secondary' -%}
                            {%- endif -%}

                            {{- render.atom('button', buttonStyle, {
                                url: button.target.getUrl(),
                                text: button.target.getText(),
                                target: button.target.getTarget(),
                                inverted: button.style == 'primaryGhost' or button.style == 'secondaryGhost',
                                gaCategory: 'header-section-cta',
                                gaAction: 'click',
                                gaLabel: button.target.getUrl(),
                                utilities: 'mr-2'
                            }) -}}

                        {%- endfor -%}
                    </div>

                {%- else -%}

                    <hr class="h-1 w-32 mt-8 bg-blue-500">

                {%- endif -%}
            </div>

        </div>

    </div>

{%- endminify -%}
