{% import '_macros/atoms' as render %}

{%- minify -%}

    <div>
        <h5 class="text-xs uppercase">
            {{- 
                render.atom(
                    'text', 
                    'title', 
                    { 
                        content: content.header,
                        words: 5,
                    }
                ) 
            -}}
        </h5>
        <h2 class="text-2xl">
            {{- 
                render.atom(
                    'text',
                    'title',
                    {
                        content: content.description
                    }
                )    
            -}}
        </h2>
    </div>

{%- endminify -%}